<%= image_tag "GW_eye.jpg", id: "gwl_eye" %>

<span id="top_text"> Helping our clients identify, create and communicate the optimum market access solution at any or all stages of the development and commercialisation process through the brand life cycle, globally. </span>
<br>
<br>
<div id="services_links">
	<div class="link_holder">
		<div class="link_img">
			<%= image_tag "blue_globe_2.png", id: "brand_excellence_img" %>
		</div>
		<div class="link_text">
			Brand &amp; Launch<br>Excellence
		</div>
	</div>
	<div class="link_holder">
		<div class="link_img">
			<%= image_tag "blue_globe.png", id: "market_access_img" %>
		</div>
		<div class="link_text">
			Market Access
		</div>
	</div>
	<div class="link_holder">
		<div class="link_img">
			<%= image_tag "blue_globe.png", id: "market_access_img" %>
		</div>
		<div class="link_text">
			Insight Market<br>Research
		</div>
	</div>
</div>