<%= image_tag "GWL_eye.png", id: "gwl_eye" %>

<span id="top_text"> Helping our clients identify, create and communicate the optimum market access solution at any or all stages of the development and commercialisation process through the brand life cycle, globally. </span>