<section id="colour_bar" style="margin-top:35%;">
</section>
<div id="footer">
	<div id="left_footer">
		Copyright &copy; 2014 Hannah Wight.
	</div>
	<div id="center_footer">
		<a href="/sitemap">sitemap</a>
	</div>
	<div id="right_footer">
		<a href="http://github.com/HannahCRW/GWL_website" target="_blank">This site on Github</a>
</div>