<nav>
	<div class="home_logo">
		<%= image_tag 'GW_logo_recolour.png', alt: "GWL Logo" %>
	</div>

	<section id="nav_buttons">
		<div id="about-button">
			<button id="about">
				ABOUT
			</button>
		</div>

		<div id="contact-button">
			<button id="contact">
				CONTACT
			</button>
		</div>

		<div id="news-button">
			<button id="news">
				NEWS
			</button>
		</div>

		<div id="client-area-button">
			<button id="client_area">
				LOGIN
			</button>
		</div>
	</section>
</nav>

<section id="colour_bar">
</section>